{% extends 'theatre_dashboard.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/addmovie.css' %}">

{% endblock css %}



{% block content %}

<div class="container main p-3">
    <form  method="post" enctype="multipart/form-data" class="center-input">
         {% csrf_token %}

        <label for="">Theatre Name :</label>
        <input type="text" class="form-control" name="name"><br>

        <label for="">Location :</label>
        <input type="text" class="form-control" name="location"><br>

        <label for="">city :</label>
        <input type="text" class="form-control" name="city"><br>



        <input type="submit" value="update" class="btn btn-dark">

    </form>


</div>
{% endblock content %}

