{% extends 'theatre_dashboard.html' %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static 'css/addmovie.css' %}">
{% endblock css %}



{% block content %}

<div class="container main p-3">
    <form id="addmovieform" method="post" enctype="multipart/form-data">
         {% csrf_token %}

       <label >Choose Movie :</label>
        <select name="movie" id="movie" class="form-select">
            {% for movie in allmovies %}
              <option value="{{movie.id}}">{{movie.Title}}</option>
            {% endfor %}
        </select>
        <label >Choose Theatre :</label>
        <select name="theatre" id="theatre" class="form-select">
            {% for theatre in alltheatre %}
              <option value="{{theatre.id}}">{{theatre.name}}</option>
            {% endfor %}
        </select>


        <label for="">Show Start Date :</label>
        <input type="date" class="form-control" name="show_s_date"><br>

        
        <label for="">Show End Date :</label>
        <input type="date" class="form-control" name="show_e_date"><br>


        <label for=""><Script></Script>Start Time :</label>
        <input type="time" class="form-control" name="show_s_time"><br>

        <label for="">End Time :</label>
        <input type="time" class="form-control" name="show_e_time"><br>



        <input type="submit" value="update" class="btn btn-dark center-input">

    </form>


</div>
{% endblock content %}

