{% extends 'theatre_dashboard.html' %}
{% load static %}

{% block css %}
       <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
{% endblock css %}

{% block content %}
<div class="main">
    <div class="container bg-light form_container gx-0">
        <div class="container-fluid">
            <div class="row ">
                <div id="col1" class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <div class="overlay">
                        <h5 class="text-light">IF NOT REGISTER</h5>
                        <a href="{% url 'uregister' %}"><button class="btn btn-outline-light ms-4" id="signup">Signup</button></a>
                    </div>
                </div>
                <div id="col2" class="col-6 col2 p-3 ">
                    <div class="text-center fs-3 fw-bold mb-2">User Admin Login Form </div>
                    <form  method="post" id="loginform" class="form-box active mx-auto">
                        {% csrf_token %}
                        <label class=" fs-5">Username :</label>
                        <input id="username" type="text" class="form-control" name="username" required><br>

                        <label class="fs-5">Password :</label>
                        <input id="password" type="text" class="form-control" name="password" required><br>

                        <input class="btn btn-dark align-item-center w-50" type="submit" value="Login"><br><br>
                    </form>

                    <!-- <button class="btn d-flex btn-outline-secondary">
                        <i class="fa fa-google">Sign in with google</i>
                    </button> -->

                </div>
            </div>
        </div>
    </div>
</div>


<script>
     document.getElementById('loginform').addEventListener('submit',(e) => {
       e.preventDefault();

       const formdata = new FormData(e.target);
       const data = Object.entries(formdata.entries());


       fetch('/movieadmin/ulogin2/',
        {
          method : "POST",
          body :formdata
        })
        .then((response) => response.json())
        .then((result) => {
           console.log("Success")
           alert(result.message);
           window.location.href = '/theatre/';
        
        })
        .catch((error) => {
          console.log("some error occur")
        })
        
        



    });

    
</script>
{% endblock content %}
